<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68539616-4"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-68539616-4');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Switch Homebrew Guide</title>
  <link rel="shortcut icon" href="{{ 'public/images/favicon.ico?v=2' | relative_url }}" type="image/x-icon" />
  <link rel="icon" href="{{ 'public/images/favicon.ico?v=2' | relative_url }}" type="image/x-icon" />
  <link rel="application/json+oembed" href="{{ 'public/oembed.json' | relative_url }}" />
  <script src="{{ '/public/js/jquery.min.js' | relative_url }}"></script>
  <script src="{{ '/public/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  <link href="{{ '/public/stylesheets/bootstrap.min.css' | relative_url }}" rel="stylesheet" type="text/css">
  <link href="{{ '/public/stylesheets/style.css' | relative_url }}" rel="stylesheet" type="text/css">
  <meta name="og:description" content="How to run homebrew on your Nintendo Switch">
  <meta property="og:image" content="https://www.gravatar.com/avatar/83742385e3de85014f348570720f2e31">
  <meta property="og:title" content="Switch Homebrew Guide">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:site" content="@noirscape">
</head>

<body>
  <div class="container-content container-fluid">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h1 class="mt-5 text-center h1-page-title">{{page.title}}</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            {{ content }}
        <hr>
        <h2>Issues</h2>
        <p>
            Please report any issues with the guide on the <a class="a-table" href="https://github.com/noirscape/SwitchGuide/issues">Issue tracker</a>.<br>
            
        </p>
    </div>
  </div>
</body>

</html>
